<div class="container">

  <div class="dashboard-title">
      <div>
            <h2>{{ 'Welcome' | translate }}, <span>{{user.name}}</span> </h2>
            <form class="notify" [formGroup]="notifyCheck">
                <input type="checkbox" id="switch" formControlName="notifycation" (change)="notify()"/>
                    <label for="switch"></label>
                <span>Notificaciones</span>
            </form>
      </div>
      
      <a routerLink="/add"><button class="btn">{{ 'Add Poll' | translate }}</button></a>
  </div>
  <div class="container" id="dashboardCards">
      <div class="row card-deck">
          <a class="col-lg-3 col-md-4 col-sm-6 col-12 card " *ngFor="let item of arrayCard" [routerLink]="['/poll', item.id]">
              <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{item.creador.name_creador}} {{item.creador.surname_creador}}</h6>
                  <ul class="avatars">
          
                      <li *ngFor="let img of item.imgsId">
                          <img alt="Avatar" class="avatar" src="./Files/{{img}}.jpg" >
                      </li>
          
                  </ul>
              </div>
          </a>
      </div>
  </div>
</div>
<button routerLink="/add" type="button" class="btn-add-poll" data-toggle="tooltip" data-placement="left" title="Crear Encuesta">
  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 15h4.071v2h-4.071v4.071h-2v-4.071h-4.071v-2h4.071v-4.071h2v4.071zm-8 6h-12v-2h12v2zm0-4.024h-12v-2h12v2zm0-3.976h-12v-2h12v2zm12-4h-24v-2h24v2zm0-4h-24v-2h24v2z"/></svg>
</button>
